# This is an example of the kind of files git can ignore at pulling/pushing
# ignore all logs
*.log
.ipynb_checkpoints
Paper_figures/rays/F309R262
Paper_figures/rays/F309R262_100k
Paper_figures/rays_energy/F309R262
Paper_figures/rays_nested/F309R262
FOXSI2-T4-Sim-rays/Rays_Energy_Roughness_12AA/rays
